* {
  margin: 0px;
}

body {
  background-color: #eee;
}

.header nav {
  background-color: black;
  height: 80px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-right: 25px;
  padding-left: 25px;
}

.header ul {
  display: flex;;
  list-style: none;
}

.header nav a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
  margin-left: 10px;
}

.header nav a:hover {
  color: lightblue;
}

.content {
  width: 70%;
  min-height: 350px;
  background-color: white;
  border-radius: 15px;
  border: 1px solid #ccc;
  margin: 25px auto;
  padding: 25px;
}

.login input {
  display: flex;
  margin: 15px;
  padding: 15px;
}