.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tareas-container {
  width: 80%;
}

input[type="text"] {
  padding: 20px;
  width: 50%;
}

input[type="submit"] {
  padding: 22px;
  width: 15%;
  background-color: coral;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  opacity: 0.8;
  transition: all 300ms;
}

input[type="submit"]:hover {
  opacity: 1;

}